<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card card-login">
    <div class="card-header">
      Login to system
    </div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        Login with username and password wrong.
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" formControlName="username"
        [ngClass]="{
                  'is-invalid': isFormCheck && form.controls['username'].invalid,
                  'is-valid': isFormCheck && form.controls['username'].valid
                }">
        <div class="invalid-feedback">
          <span *ngIf="form.controls['username'].hasError('required')">Field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password"formControlName="password"
        [ngClass]="{
                  'is-invalid': isFormCheck && form.controls['password'].invalid,
                  'is-valid': isFormCheck && form.controls['password'].valid
                }">
        <div class="invalid-feedback">
          <span *ngIf="form.controls['password'].hasError('required')">Field is required</span>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
